.text_1 {
  animation: text1;
}

.text_2 {
  animation: text2;
}

.text_1,
.text_2 {
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 10s;
  animation-timing-function: steps(30, 40);
  animation-iteration-count: infinite;

  background: #5433ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5433ff,
    #20bdff,
    #9affc6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5433ff,
    #20bdff,
    #9affc6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: "Fira Code";
  font-size: 3rem;
}

.text_1::after,
.text_2::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
}

@keyframes text2 {
  0%,
  50%,
  100% {
    width: 0;
  }

  60%,
  90% {
    width: 11em;
  }
}

@keyframes text1 {
  0%,
  50%,
  100% {
    width: 0;
  }
  10%,
  40% {
    width: 10.5em;
  }
}

@keyframes caret {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media (min-width: 360px) and (max-width: 544px) {
  .text_1,
  .text_2 {
    font-size: 2rem;
  }
}

@media (min-width: 545px) and (max-width: 767px) {
  .text_1,
  .text_2 {
    font-size: 2.3rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .text_1,
  .text_2 {
    font-size: 2.5rem;
  }
}
