  .parentContainer {
    display: flex;
    overflow-y: hidden;
  }
    
  .metadata,
  .contactMeForm {
    display: flex;
    justify-content: center;
    width: 100%;
    letter-spacing: 1.5px;
  }
  
  .metadata > .container {
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  
  .container {
    width: 100%;
    height: auto;
    padding: 1.5rem;
  }
  
  .container > p {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 2rem;
    letter-spacing: 1.5px;
  }
  
  .heading {
    margin-top: 0;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 1.5px;
  }
   
  label {
    margin-top: 1rem;
    letter-spacing: 1px;
  }
  
  .contactMeForm > .container {
    background-color: rebeccapurple
  }
  
  form > div {
    width: 80%;
    margin: 0 auto;
  }
  
  textarea {
    height: 150px;
    width: 100%;
    box-sizing: border-box; 
    margin-top: 0.4rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
  
  input {
    padding: 0.5rem;
    margin-top: 0.4rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
  }

  form button {
    display: block;
    margin: 1rem auto;
    margin-bottom: 0;
    letter-spacing: 4px;
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
  }